html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{	
	height: 100%;
	background: #010101;
	color: #FFFFFF;
}
p{
	color: #FFFFFF;
}
li{
	list-style-type: none
}
hr{
	width: 40px; 
height: 6px;
border: none;
background: linear-gradient(to left,#272B9C, #E70BDE);
transform: rotate(90deg);
}
a{
	text-decoration: none;
}
.header{	
    height: 90vh;
    background: url(../img/ddd.svg) no-repeat center;
    background-size: cover;
}

.wrapper{
	max-height: 700px;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 60px;
	padding: 0px 24px 0px 31px;

}
.header_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo{

}
.header_list{
	display: flex;
}
.header_item{
	margin-right: 	54px;
}
.header_link{
	font-size: 18px;
    line-height: 24px;
    text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
}
.personal_office{
	padding: 6px 0px;
	
}
.logo_team{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.name_team{
	padding: 39px 0px 4px 0px;
	align-items: center;
	display: flex;

}
.flag{
	margin-right: 14px;
}
.tex{
	font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
}
.item_name{
font-family: Changa;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
}

.player_stats{
	padding: 0px 64px 0px 39px;
	margin-top: 540px;
	display: flex;
	justify-content: space-between;
	
	
}
.stats{
	display: flex;
	padding: 0px 20px 0px 0px;
}
.title_stats{
	text-align: center;

	width: 244px;
	height: 100px;
	background: #0D0C0D;
	border-radius: 4px;
	margin: 0px 20px 0px 0px;
	
}
.title_edit{
	display: flex;
}
.item_stats{
	font-family: Changa;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 33px;
	color: #FFA000;
	padding:14px 0px 0px 0px; 
}
.indicator{
	font-family: Changa;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
}
.title_edit{margin-top: 20px;
	justify-content: center;
	align-items: center;
	width: 224px;
	height: 55px;
	background: #0D0C0D;
	border-radius: 6px;
}
.services{
	margin-right: 8px;

}
/*//////////////////////////////////////////////*/
.hr_one{
	display: flex;
}
.hr_two{
	margin-left: 210px;
	display: flex;
}
.player_data{
	display: flex;
	margin: 179px 0px 0px 43px;
}
.player_team{
	display: flex;
	align-items: center;
	background: url(../img/asfs.svg)  no-repeat;
	margin-top: 44px;
}
.img_logo_team{
	padding: 10px 9px 4px 12px;
}
.rating_elo{
	margin-left: 107px;
}
.rating_elo{
	padding: 0px 8px 0px 0px;
	text-align: center;
}
.p_tex{
	font-family: Days One;
	line-height: 23px;
	font-size: 18px;	
}
.p_teg{
	font-family: Changa;
	font-size: 16px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #767474;
}
.item_rating{
	font-family: Changa;
	font-weight: bold;
	font-size: 16px;
	line-height: 29px;
	color: #FFA000;
}
.p_elo{
	font-family: Changa;
	font-weight: bold;
	font-size: 18px;
	line-height: 33px;
}
.hr_three{
	margin-top: 95px;
	display: flex;
}
.steam{
	display: flex;
	align-items: center;
	padding: 11px 0px 10px 12px;
	width: 404px;
	height: 85px;
	background: #0D0C0D;
	border-radius: 4px;
	margin-top: 40px;
}
.team_steam{
	font-family: Days One;
	font-size: 18px;
	line-height: 23px;
	margin-left: 17px;
}


/*////////////////////////////////////////////////////////*/
.team_matches{
	margin-top: -85px;
	padding: 0px 0px 0px 200px;
}
.tournaments_ {

line-height: 45px;
font-family: Changa;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #FFFFFF; 
width: 102px;
height: 40px;

}
.tournaments{display: flex;
	flex-direction: column;
	margin-left: 26px;
	width: 780px;
	justify-content:space-around;
	align-items: stretch;

}
.tournaments1x1{ ;
	display: flex;
	height: 178px;
	width: 779px;
	margin:119px 30px 22px 0;
	background: linear-gradient(93.01deg, rgba(153, 1, 168, 0.1) 0%, rgba(41, 44, 255, 0.1) 100%),
	linear-gradient(0deg, rgba(39, 43, 156, 0), rgba(39, 43, 156, 0));

	border: 1px solid;


border-image-source: linear-gradient(93.01deg, rgba(69, 0, 94, 0.31) 6.04%, #0B0F8D 100%);
box-shadow: 0px 4px 4px 20px  rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}
.tournaments2x2{display: flex;
height: 178px;
	width: 779px;
	background: linear-gradient(93.01deg, rgba(153, 1, 168, 0.1) 0%, rgba(41, 44, 255, 0.1) 100%),
linear-gradient(0deg, rgba(39, 43, 156, 0), rgba(39, 43, 156, 0)); /*фон градієнт*/
	border: 1px solid;
border-image-source: linear-gradient(93.01deg, rgba(69, 0, 94, 0.31) 6.04%, #0B0F8D 100%);/*рамка градієнт*/
box-shadow: 0px 4px 4px 20px  rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	margin:0 30px 22px 0px;
}
.tournaments5x5{display: flex;
	width: 779px;
	height: 178px;
	border: 1px solid ;
border-image-source: linear-gradient(93.01deg, rgba(69, 0, 94, 0.31) 6.04%, #0B0F8D 100%);
border-radius: 6px;
margin:0 30px 22px 0px;
	background: linear-gradient(93.01deg, rgba(153, 1, 168, 0.1) 0%, rgba(41, 44, 255, 0.1) 100%),
linear-gradient(0deg, rgba(39, 43, 156, 0), rgba(39, 43, 156, 0)); /*фон градієнт*/


}
.photo-1{display: flex;
	justify-content: center;
	position: relative;



}
.photo-2{display: flex;
	justify-content: center;
	position: relative;

}
.photo-3{display: flex;
	justify-content: center;
	position: relative;


}
.photo__p{position: absolute;
	top: 71px;

	
font-family: Days One;
font-size: 29px;
font-style: normal; 
font-weight: 400;
line-height: 37px;

text-align: center;
}

.tournaments__text{
	display: flex;
height: 179px;
	width: 472px;
	flex-direction: column;
	justify-content: space-between;
	

}
.tournaments__text__rows1{
	display: flex;
	 
	 justify-content: space-between;
		
}
.tournaments__text__rows1__icon1{
	display: flex;
	align-items: center;
	margin:  17px 0 0 30px;
}
.tournaments__text__rows1__icon2{

	display: flex;
	align-items: center;
	margin:  17px 11px 0 0px;
}
.tournaments__content{
	padding-left: 11px;
	font-family: Changa;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
}
.tournaments__content2{ 
	padding-left: 11px;
	font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
	

}
.tournaments__text__rows2{
	display: flex;
	flex-direction: row;
	margin-left: 31px; 

	font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
}
.icon{
	height: 32px;
}
.tournaments__text__rows3{display: flex;
	justify-content: space-between; 
	margin: 0 13px 4px 31px;
	font-family: Changa;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 22px;
}
.btn_apply_two{
	display: flex;
	justify-content: center;
	
	padding: 62px 0px 70px 0px ;	
}
.btn_button{
   background: black;
   border: 1px solid transparent;
   border-image: linear-gradient(left,  #9A18C3 0%, #272B9C 100%);
   border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
   border-image-slice: 1;
   
	width: 245px;
	height: 37px;
	color: #FFFFFF;	
}
.footer{
height: 210px;
margin: 140px 0px 0px 0px;
background: rgba(3, 0, 27, 0.89);
}